<ul class="nav nav-pills nav-justified" id="sportNav">
  <li role="presentation" ng-class="{active: selected == 'generate'}">
    <a href="" ng-click="setSelected('generate')">Generate League</a>
  </li>
  <li role="presentation" ng-class="{active: selected == 'editGames'}">
    <a href="" ng-click="setSelected('editGames')">Edit Games</a>
  </li>
  <li role="presentation" ng-class="{active: selected == 'editResults'}">
    <a href="" ng-click="setSelected('editResults')">Edit Results</a>
  </li>
</ul>


<div class="col-md-12 box tall">
  <league-generator ng-show="selected == 'generate'"></league-generator>
  <all-games ng-show="selected == 'editGames'" 
             header="'Edit Games'"
             is-results="false"
             teams="settings.teams"
             locations="settings.locations"
             admin="currentUser.get('admin')"
             id="'games'"
             ></all-games>
  <all-games ng-show="selected == 'editResults'" 
             header="'Edit Results'"
             is-results="true"
             teams="settings.teams"
             locations="settings.locations"
             admin="currentUser.get('admin')"
             id="'results'"
             ></all-games>
</div>
