/*!CK:1162960057!*//*1438698132,*/

.sp_D5IyH1J17x8{background-image:url(/rsrc.php/v2/y5/r/K3LUmQpnaBa.png);background-size:19px 51px;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}.sp_D5IyH1J17x8.sx_635d64{background-position:0 0}.sp_D5IyH1J17x8.sx_82707f{background-position:0 -19px}.sp_D5IyH1J17x8.sx_57eddd{width:12px;height:12px;background-position:0 -38px}

#bootloader_sKrvb { height: 42px; }
.bootloader_sKrvb { display:block !important; }